<div class="span3">
  <% @locations.each do |location| %>

    <div class="well sidebar-nav">
      <h3><%= location.name %></h3>
      <ul class="nav nav-list">
        <% location.routes.each do |route| %>
          <li class="nav-header"><%= route.name %></li>
          <li><%= location.departing_soon %></li>
        <% end %>
      </ul>
    </div>

    <script type="text/javascript">
      var loc = new google.maps.LatLng(<%= location.lat %>, <%= location.lng %>);
      var marker = new google.maps.Marker({
        position:loc,
        title:'<%= location.name %>',
        map:map,
        icon: '<%= asset_path("bus-tour.png") %>'
      });

    </script>
  <% end %>
</div>
