<div class="well sidebar-nav alert alert-info">
  <div class="location-panel" id="<%= dom_id(@location, :nearby) %>">
    <h3><%= @location.name %></h3>
    <% @routes.each do |route| %>
      <ul class="nav nav-list" id="<%= "location_#{@location.id}_route_#{route.id}_route_desc" %>">
        <li class="nav-header"><%= route.name %></li>
        <li><%= @location.departing_soon(route) %></li>
      </ul>
    <% end %>
  </div>
</div>


